:root{
    --active-color: rgb(70, 136, 236);
    --light-grey-color: rgb(240,240,240)
}

.App{
    margin: 5em auto;
}

.option-selected{
    background-color: var(--active-color);
}

.option-element:nth-child(2n){
    background-color: var(--light-grey-color);
}

.select-input{
    border: 1px solid grey;
    width:200px
}