*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --active-color: rgb(70, 136, 236);
    --light-grey-color: rgb(230,230,230);
    --disabled-color:rgb(200,200,200);
    --option-height: 1.15rem;
    --option-pad: 0.2rem
}

.App{
    margin: 5em auto;
}

.option-element{
    height: var(--option-height);
    padding: var(--option-pad);
    font-family: monospace;
    font-size: 0.8rem;
}

.option-element:nth-child(2n){
    background-color: var(--light-grey-color);
}

.option-element.option-selected{
    background-color: var(--active-color);
    color:white
}

.select-input{
    width:200px;
    box-shadow: 0 0 1px 0 black;
}

.select-disabled{
    color:var(--disabled-color)
}
.select-disabled .option-selected{
    background-color: var(--disabled-color)
}